<%- include('includes/head') %>
<%- include('includes/nav') %>



<section class="area-login">
  <div class="login">
    <h4>Login</h4>
    <%- include('includes/messages'); %>
    <form class="form-login" action="/login/login" method="POST">
      <input type="hidden" name="_csrf" value=<%= csrfToken %>>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Seu e-mail">
        <input type="password" class="form-control" name="password" placeholder="Sua senha">
      </div>
      <button type="submit" class="form-control"> Entrar</button>
    </form>
    
  </div>
</section>


<%- include('includes/footer') %>